{
  "presets": [
    "stage-0",
    "es2015",
    "react"
  ],
  "plugins": [
    ["universal-import", {
      "babelServer": true
    }],
    [
      "css-modules-transform",
      {
        "generateScopedName": "[name]-[local]-[hash:base64:5]"
      }
    ],
    "transform-runtime",
    "transform-decorators-legacy",
    "babel-plugin-transform-class-properties"
  ],
  "sourceMaps": true
}